$primary-background: #F6F6F3;
$secondary-background: #FFFFFF;
$primary-text: #131313;
$secondary-text: #454545;
$border: #F1F1F1;
$dark-orange: #734A00;
$light-orange: #FFF7E8;
$mid-gray: #7D7D7D;
$gradient: linear-gradient(90deg, #FFCD71 -2.57%, rgba(255, 205, 113, 0.00) 112.5%);